.contact-body{
    background-image: url('https://www.stellantis.com/content/dam/stellantis-corporate/contacts/canvas/contatti-hero-responsive.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}