.login-body{
    background-image: url('https://png.pngtree.com/background/20210710/original/pngtree-blue-technology-wind-big-data-background-material-picture-image_978598.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

